# App
APP_PORT=8081
APP_ENV=development
# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER= DB USER
DB_PASSWORD= PASSWORD USER
DB_NAME=nama DB
# JWT Secret (gunakan string random yang panjang)
JWT_SECRET=your-super-secret-jwt-key-minimum-32-characters-long
JWT_EXPIRE_HOURS=24
# Firebase Service Account Key Path
# Download dari: Firebase Console -> Project Settings -> Service Accounts
FIREBASE_CREDENTIALS_PATH=./firebase-service-account.json